@charset "UTF-8";

body{
    background: fixed;
    background-color: black;
    background-image:url("_img/fundopreto.png");
    
    
}
/* HEADER */

header { 
    margin: 0; 
}

header > nav {
    margin-top: 20px;
    box-shadow: 2px;
    border-radius: 5px; 
    border: 3px solid #ffffff;
    width: 800px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto; 
}

/* FIGURE */ 
section > figure {
    margin-top: 20px;
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
    max-height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
#conteudo{
    display: block;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px;
    border-radius: 5px;
    border: 3px solid #F8F9FA;
    background-color: #F8F9FA;
}

body > main > div.jumbotron { 
    padding: 10px;
}

/* Footr */ 

footer{
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px;
} 


